@import url("../reset.css");

/* * {
  outline: 1px solid red;
} */

body {
  padding: 100px;
}

div {
  animation: alert;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 200px;
  margin: auto;
  width: 300px;
}

@keyframes alert {
  0%, 100% {
    background-color: yellow;
  }

  25%, 75% {
    background-color: orange;
  }

  50% {
    background-color: red;
  }
}