@import url("../reset.css");

/* * {
  outline: 1px solid red;
} */

html {
  font-size: 16px;
}

.pop-up-word {
  font-size: 5rem;
  width: fit-content;
  margin: auto;
}

span {
  display: inline-block;
}

span:hover {
  transform: scale(1.5);
}